# Verification

**Properties**

| Name  | Type   | Required | Description |
| :---- | :----- | :------- | :---------- |
| type  | String | ❌       |             |
| value | String | ❌       |             |
